.footer {
    background-color: #2e7d32;
    padding: 20px 0;
    margin-top: 20px;
}

.footer .footer-name-right{
    display: flex;
    justify-content: center;
    color : white;
}

.footer-policy{
    color: white;
    display: flex;
    justify-content: center;
}

.footer-policy a {
    color: white;
    margin: 0 10px;
}
